.myInput, .form select, input[type=submit], .form button {
    width: 100%;
    margin-bottom: 12px;
    height: 38px;
    padding: 2px 8px;
    background-color: #fff;
    border-radius: 5px;
    border: none;
    box-shadow: 0px 2px 3px 0px #0000001a;
}
.form input[type=submit], .form button{
    background-color:#333;
    color:#fff;
    padding: 0.5em 1em;
    text-decoration: none;
    transition: 0.5s;
    border-radius: 10px;
}
.form input[type=submit]:hover, .form button:hover{
    background-color:#fcab54;
    box-shadow: 0px 5px 10px 0px #0000001f;   

}
.form button svg{
    margin-right: 8px;
}
.checkboxContent{
    background-color: #fff;
    margin-bottom: 12px;
    padding: 0.5em;
    border-radius: 10px;
    box-shadow: 0px 2px 3px 0px #0000001a;
    max-height: 136px;
    overflow-y: scroll;
}
span{
    margin-left: 10px;
    font-size: 13px;
}
.indicacao{
    margin-bottom:12px;
    font-weight: bold;
    color:#333;
    font-size: 16px;
}
.boxItems{
    margin-bottom: 5px;
}
option{
    font-family: 'Montserrat', sans-serif;
}