.projectCard{
    padding: 1em;
    border-radius: 20px;
    width: 24%;
    margin: 0.5%;
    background-color: #1a1a1a;
    transition: 0.5s;
    border: solid 1px #1a1a1a;
}
.projectCard:hover{
    border:solid 1px #00ffea;
    transform: scale(1.03);
}
.projectCard h4{
    color: #eee;
    padding: .4em;
    margin-bottom: 1.3em;
    font-size: 1.3em;
}
.projectCard p {
    color: #eee;
    margin-bottom: 1em;
}
.projectCard p span{
    font-weight: bold;
}
.categoryText{
    display: flex;
    align-items: center;
    font-weight: 500;
}
.categoryText span{
    display: block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #eee;
    margin-right: 5px;
}
.projectCardActions{
    margin-top: 1.2em;
    display: flex;
    align-items: center;
}
.projectCardActions a, 
.projectCardActions button{
    text-decoration: none;
    border: none;
    color: #1a1a1a;
    font-size: .9em;
    padding: .6em 1em;
    cursor: pointer;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1em;
    transition: 0.5s;
}
.projectCardActions svg{
    margin-right: .5em;
}
.projectCardActions a{
    background-color: #00dfcc;
}
.projectCardActions button{
    background-color: #8767fa;
}
.projectCardActions a:hover{
    background-color: #72ddd4;
}
.projectCardActions button:hover{
    background-color: #a68eff;
}
.orcamento{
    font-weight: 400;
}
.orcamento span{
    font-size: 1em;
    color: #00dfcc;
}
h4{
    display: flex;
    align-items: center;
}