.myInput, .form select{
    width: 100%;
    margin-bottom: 12px;
    height: 38px;
    padding: 2px 8px;
    background-color: #111;

}
span{
    font-size: 13px;
}
.boxItems{
    margin-bottom: 5px;
}
option{
    font-family: 'Montserrat', sans-serif;
}