.projectCard{
    padding: 1em;
    border-radius: 20px;
    width: 24%;
    margin: 0.5%;
    background-color: #111;
    transition: 0.5s;
    border: solid 1px #111;
}
.projectCard:hover{
    border:solid 1px #00ffea;
    transform: scale(1.03);
}
.projectCard h4{
    color: #eee;
    padding: .4em;
    margin-bottom: 1.3em;
    font-size: 1.3em;
}
.projectCard p {
    color: #eee;
    margin-bottom: 1em;
}
.projectCard p span{
    font-weight: bold;
}
.categoryText{
    display: flex;
    align-items: center;
    font-weight: 500;
}
.categoryText span{
    display: block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #eee;
    margin-right: 5px;
}
.categoryText .infra{
    background-color: #559fe4;
}
.categoryText .desenvolvimento{
    background-color: #cefa69;
}
.categoryText .design{
    background-color: #b37ef0;
}
.categoryText .planejamento{
    background-color: #f34b91;
}
.categoryText .suporte{
    background-color: rgb(74, 255, 255);
}
.categoryText .servidor{
    background-color: #f7ff8a;
}
.projectCardActions{
    margin-top: 1.2em;
    display: flex;
    align-items: center;
}
.projectCardActions a, 
.projectCardActions button{
    text-decoration: none;
    border: none;
    color: #fff;
    font-size: .9em;
    padding: .6em 1em;
    cursor: pointer;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1em;
    transition: 0.5s;
}
.projectCardActions svg{
    margin-right: .5em;
}
.projectCardActions a{
    background-color: #00dfcc;
}
.projectCardActions button{
    background-color: #6140d8;
}
.projectCardActions a:hover{
    background-color: #72ddd4;
}
.projectCardActions button:hover{
    background-color: #724bff;
}
.orcamento{
    font-weight: 400;
}
.orcamento span{
    font-size: 1em;
    color: #00dfcc;
}
.infra .imgProjeto{
    width: 40px;
    height: 40px;
    background-image: url('../../img/infraestrutura.svg');
    background-position: center;
    background-size: contain;
}
.desenvolvimento .imgProjeto{
    width: 40px;
    height: 40px;
    background-image: url('../../img/api.svg');
    background-position: center;
    background-size: contain;
}
.design .imgProjeto{
    width: 40px;
    height: 40px;
    background-image: url('../../img/web-design.svg');
    background-position: center;
    background-size: contain;
}
.planejamento .imgProjeto{
    width: 40px;
    height: 40px;
    background-image: url('../../img/planejamento.svg');
    background-position: center;
    background-size: contain;
}
.suporte .imgProjeto{
    width: 40px;
    height: 40px;
    background-image: url('../../img/suporte-tecnico.svg');
    background-position: center;
    background-size: contain;
}
.servidor .imgProjeto{
    width: 40px;
    height: 40px;
    background-image: url('../../img/armazenamento-de-banco-de-dados.svg');
    background-position: center;
    background-size: contain;
}
h4{
    display: flex;
    align-items: center;
}
.imgContainer{
    padding: 10px;
    background-color: #71f1e7;
    text-align: center;
    margin-right: 0.6em;
    border-radius: 100%;
}