.radioContainer{
    display: flex;
    margin-bottom: 1em;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.radioContainer label{
    font-size: 16px;
    font-weight: 500;
    margin-left: .5em;
}
.radioTitle{
    color: #eee;
    font-weight: 600;
    margin-bottom: 1em;
}
.radioOpts{
    margin-top: 1em;
    margin-bottom: 1em;
}
.radioContainer label{
    transition: 0.5s;
    padding: .5em 1em;
    cursor: pointer;
    margin-left: 0px;
    margin-right: 10px;
    border-radius: 20px;
}
.radioContainer input{
    display: none;
}
input:checked ~ label{
    font-size: 17px;
    background-color: #111;
    border-radius: 20px;
    box-shadow: 5px 5px 5px -2px #000000d9;
    border: 1px solid;
}