.formControl{
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
}
.formControl label{
    margin-bottom: .6em;
    font-weight: 600;
    color:#eee;
}
.formControl input{
    width: 100%;
    color: #eeeeee;
    margin-bottom: 12px;
    height: 38px;
    padding: 2px 8px;
    background-color: #111;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid #eeeeee17;
    transition: 0.5s;
}
.formControl input::placeholder{
    color:#d4d4d4;
}
input:focus{
    outline: none;
    border-bottom: 1px solid #00ffea;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
input[type="color"] {
	-webkit-appearance: none;
	border: none;
    width: 100px !important;
	height: 42px !important;
    margin-top: -13px;
    margin-left: -10px;
}
input[type="color"]::-webkit-color-swatch-wrapper {
	padding: 0 !important;
}
input[type="color"]::-webkit-color-swatch {
	border: none !important;
}