.formControl{
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
}
.formControl label{
    margin-bottom: .6em;
    font-weight: 600;
    color:#eee;
}
.formControl select{
    width: 100%;
    margin-bottom: 12px;
    height: 38px;
    padding: 2px 8px;
    background-color: #111;
    font-family: 'Montserrat', sans-serif;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid #eeeeee17;
    color: #eee;
}
select:focus{
    outline: none;
    border-bottom: 1px solid #00ffea;
}