.footer{
    background-color: #1a1a1a;
    color:#00ffea;
    padding:3em;
    text-align: center;
    border-radius: 10px 10px 0px 0px;
}
.socialList{
    display:flex;
    list-style:none;
    padding: 0px;
    justify-content: center;
}
.socialList li{
    margin-right: 1em;    
}
.socialList svg{
    font-size: 1.5em;
    cursor: pointer;
    color: #00ffea;
    transition: 0.5s;
}
.socialList svg:hover{
    color: #fff;
    transform: scale(1.05);
}
.copyRight{
    margin-top:2em;
}
.copyRight span{
    font-weight:600;
}