.btn{
    background-color:#00ffea;
    color:#1a1a1a;
    padding: 0.5em 1em;
    text-decoration: none;
    transition: 0.5s;
    border-radius: 10px;
    border: none;
    height: 40px;
    margin-top: 1.5em;
    width: 150px;
    cursor: pointer;
}
.btn svg{
    height: auto;
    width: 18px;
    margin-bottom: -4px;
}
.btn:hover{
    background-color:#00ffea;
    box-shadow: 0px 0px 5px 5px #00ffea50;
    transform: scale(1.05);

}