.projectContainer{
    padding: 2em;
}
.tittleContainer{
    display: flex;
    justify-content: space-between;
    margin-bottom: 2em;
}
.messageProjetos{
    color: #1c6877;
    background-color: #b1f2ff;
    border-color: #F5C6CB;
    width: 100%;
    padding: 1em;
    border-radius: 10px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 2em;
}
.search{
    border-radius: 10px;
    border:none;
    padding: .5em;
    background-color: #1a1a1a;
    color: #eee; 
    font-size: 16px;
    width: 550px;   
}
.search::placeholder{
    color: #eee;

}
.searchContainer{
    margin-bottom: 20px;
    font-size: 30px;
}
.searchContainer svg{
    background-color:#00FFEA;
    padding: 5px;
    border-radius: 100%;
    margin-right: 10px;
    margin-bottom: -10px;
}
.search:focus{
    outline: none;
    border-bottom: none;
    box-shadow: 0px 0px 10px 5px #00ffea3f;
}
.semProjetos{
    font-size: 18px;
    font-weight: 500;
    color: #eee;
    clear: both;
}