.projetoDetails{
    padding:2em;
    background-color: #1a1a1a29;
    margin-block: 3em;
    border-radius: 20px;
    backdrop-filter: blur(30px);
    border: 1px solid #ffffff37;
    width: 100%;
}
.projetoDetails input, 
.projetoDetails select{
    background-color: transparent;
}
.projetoDetails option{
    color: #1a1a1a;
}
.projetoDetails h1, 
.projetoDetails h2,
.projetoDetails p{
    margin-bottom: 1em;
}
.projetoDetails h1{
    color: #eee;
    font-weight: 500;
}
.projetoDetails h1 span {
    color: #00ffea;
    font-size: 32px;
    font-weight: 400;
}
#firstDiv span{
    font-weight: 500;
    font-size: 18px;
    color: #00ffea;
}
.detailsContainer,
.serviceFormContainer{
    border-bottom: 1px solid #ffffff18;
    margin-bottom: 1.2em;
    padding-bottom: 1.2em;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}
.btn{
    background-color:#00ffea;
    color:#1a1a1a;
    padding: 0.5em 1em;
    text-decoration: none;
    transition: 0.5s;
    border-radius: 10px;
    border: none;
    height: 40px;
}

.btn:hover{
    background-color:#00ffea;
    box-shadow: 0px 0px 5px 5px #00ffea50;
    transform: scale(1.05);

}
.projetoInfo{
    width: 100%;
}
.projetoInfo p {
    color: #eee;
    font-size: 18px;
    font-weight: 500;
}
.projetoInfo span {
    color: #eee;
}
button .spanService{
    font-weight: 400;
    font-size: 13px;
}
button .spanService svg{
    font-size: 20px;
    margin-bottom: -5px;
    margin-right: 5px;
}
.iconContainer svg{
    color: #1a1a1a;
    background-color: #00ffea;
    border-radius: 100%;
    padding: .2em;
    width: 25px;
    height: auto;
    margin-bottom: -5px;
    margin-right: 5px;
}
.retorno{
    font-weight: 500;
    color: #eee;
    font-size: 18px;
}
.costAtingido{
    color: rgb(255, 85, 85) !important;
    text-shadow: 0px 0px 6px #ff4646;
}
.costValido{
    color: rgb(98, 255, 138) !important;
    text-shadow: 0px 0px 6px #74ff86;
}
