.projectContainer{
    padding: 2em;
}
.tittleContainer{
    display: flex;
    justify-content: space-between;
    margin-bottom: 2em;
}
.messageProjetos{
    color: #1c6877;
    background-color: #b1f2ff;
    border-color: #F5C6CB;
    width: 100%;
    padding: 1em;
    border-radius: 10px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 2em;
}
.search{
    border-radius: 10px;
    border:none;
    padding: .5em;
    background-color: #1a1a1a;
    color: #eee; 
    font-size: 16px;
    width: 550px;   
}
.search::placeholder{
    color: #eee;

}
.searchContainer{
    margin-bottom: 20px;
    font-size: 30px;
}
.searchContainer svg{
    background-color:#00FFEA;
    padding: 5px;
    border-radius: 100%;
    margin-right: 10px;
    margin-bottom: -10px;
}
.search:focus{
    outline: none;
    border-bottom: none;
    box-shadow: 0px 0px 10px 5px #00ffea3f;
}
.semProjetos{
    font-size: 18px;
    font-weight: 500;
    color: #eee;
    clear: both;
}
.semRes{
    font-size: 16px;
    padding-top: 1em;
    font-weight: 500;
    color: rgb(255, 90, 90);
    text-shadow: 0px 0px 10px rgb(255, 0, 0);
}
.popup{
    position: absolute;
    background-color: #1a1a1a91;
    padding: 1.5em;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    backdrop-filter: blur(5px);
}
.popupContainer{
    width: 1200px;
    margin: auto;
    padding-block: 5em;
}
.closeBtn{
    color: #333;
    background-color: #ff5a5a;
    border: none;
    padding: .5em 1em;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    transition: 0.5s;
}
.closeBtn:hover{
    background-color: #ff6e6e;
    box-shadow: 0px 0px 5px 5px #ff646450;
    transform: scale(1.05);
}
.closeBtn svg{
    width: 18px;
    height: auto;
    margin-bottom: -3px;
    margin-right: 5px;
}