.fraseContainer{
    background-color:#fff;
    border-radius:5px;
    padding:5px; 
    box-shadow:0px 5px 10px 0px #00000014;
}
.fraseContent{
    color:#333;
    margin: 0;
    font-size:18px;
    font-weight:600;
}